body{
    background-color: rgb(51, 44, 44);
}
p{text-align: center;
color: white;
}
h1{text-align: center;
    color: white;}
h2{text-align: center;
    color: white;}

#banner{
    width:75%;
}

.container{
    text-align:center
}

.principal{
    background-color: rgb(51, 44, 44);
}
