body{
    background-color: black;
}
p{text-align: center;
color: black;
}
h1{text-align: center;
    color: black;}
h2{text-align: center;
    color: black;}

#banner{
    width:50%;
}

.container{
    text-align:center
}

.principal{
    background-color: white;
}
